@charset "UTF-8";
@font-face{
    font-family: 'yekan-num';
    src: url('../fonts/BYekan.eot') format('embedded-opentype'),
    url('../fonts/BYekan.woff') format('woff'),
    url('../fonts/BYekan.woff2') format('woff2');
    font-style:normal;
   }
   body{
    font-family: "yekan-num",sans-serif;
    direction: rtl;
   }
   *{
    font-family: "yekan-num",sans-serif !important;
   }